
filebrowser/
hortusfox-web/
linkwarden/
volumes/
birdnet/
mariadb/mysql/
system-monitoring/influxdb/
uptimekuma/uptime-kuma-data/
home-assistant/homeassistant_config/
jdownloader2/config/
jdownloader2/downloads/
code-server/config/
system-monitoring.zip
portainer/portainer_data/
plex-radarr-transmission/plex/
plex-radarr-transmission/radarr/
plex-radarr-transmission/transmission/
guacamole/config/
myspeed/data/
postgres/data/
postgres/dev/
databases/dev/
mariadb/dbgate-data/
